<h1 class="web_name">Quarantine Fitness</h1>
<ul class='nav'>
  <% if @logged_in_user %>
    <p class="welcome_name">Welcome, <%= @logged_in_user.name %></p> 
      <li><%= link_to "My Profile", user_path(@logged_in_user) %></li>
      <li><%= link_to "All Routines", routines_path %></li>
      <li><%= link_to "Exercise Library", exercises_path %></li>
      <li><%= link_to "About", about_path %></li> 
      <li><%= link_to 'Log-out', logout_path, method: :delete %></li>
  <% else %>
      <li><%= link_to "Log in", new_login_path %></li>
      <li><%= link_to "Sign up", new_user_path %></li>
      <li><%= link_to "All Routines", routines_path %></li>
      <li><%= link_to "Exercise Library", exercises_path %></li>
      <li><%= link_to "About", about_path %></li> 
<% end %>
</ul>

<h1 class="title">Log in</h1>
<% if flash[:errors] %>
<p class="center"> <%= flash[:errors] %></p>
<% end %>

<h4 class="center">
<%= form_for :session, url: login_path do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.submit 'Log in' %>
<% end %>

</h4>