
<h4 class="center">
<%= form_for @routine do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name%>

    <%= f.label :weekday %>
    <%= f.collection_select :weekday, @weekdays, :to_s, :to_s, include_blank: false%>
    
    <%= f.submit %>
<% end %>
</h4> 