<h1><%= @routine.name %></h1>
<strong>Created by:</strong> <%= @routine.user.name %>
<% if @logged_in_user == @routine.user %>
<p><strong>When: </strong><%= @routine.weekday %></p>
<% end %>
<hr>

    <% @routine.splits.each do |split| %>
       <p><%= link_to split.exercise.name, exercise_path(split.exercise.id) %> |
        <%= split.duration %> seconds</p> 
            <% if @logged_in_user == @routine.user %>
                <%=button_to "Delete", split_path(split), method: :delete %>
            <% end %>
    <% end %>

<% if @logged_in_user == @routine.user %>
<hr>
    <%= form_for @split do |f| %>
        <%= f.hidden_field :routine_id, value: @routine.id %>   

        <%= f.label :exercise_id %>
        <%= f.collection_select :exercise_id, @exercises, :id, :name %>

        <%= f.label :duration, "Seconds"%>
        <%= f.number_field :duration %>
    
        <%= f.submit "Add Exercise" %>
    <% end %>

    <p><%= button_to "Edit Routine", edit_routine_path(@routine), method: :get %></p>
    <%= button_to 'Delete Routine', routine_path(@routine), method: :delete %>
<% end %>

<hr>

<h2>Comments:</h2>
<% @routine.comments.each do |comment| %>
    <p> <strong><%= comment.user.name %></strong> <%= comment.comment %></p>
    <% if @logged_in_user == comment.user %>
    <%= button_to 'Delete Comment', comment_path(comment), method: :delete %>
    <% end %>
<% end %>

<hr>

<% if @logged_in_user %>
<h2>Add Comment:</h2>
<%= form_for @comment do |f| %>
<%= f.label :comment %>
<%= f.text_field :comment %>

<%= f.hidden_field :routine_id, value: @routine.id %>
<%= f.submit %>
<% end %>
<% end %>

<p><%= link_to "Back to Routines", routines_path %></p>