<%= render 'nav' %>
<h1 class="title">Create an Account</h1>

<h4 class="center">
<%= form_for @user do |f| %>
  <%= f.label :name, "Username" %>
  <%= f.text_field :name, autocomplete: 'off' %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit %>
<% end %>
</h4>

