<%= render 'nav' %>
<h1 class="title">Hello, <%= @user.name %></h1>

<h4 class="center">
<% if @user.routines.any? %>
<p>Here are your routines:</p>
    <% @user.routines.each do |routine| %>
    <%= routine.weekday %> | <%= link_to routine.name, routine_path(routine) %> <br><br>
    <% end %>
    <%= link_to 'Create a New Routine', new_routine_path, class: "btn"%>
<% else %>
    <p>You have no routines yet!</p>
    <%= link_to 'Create a New Routine', new_routine_path, class: "btn" %>
<% end %>
</h4>